#section_principal {
  background: rgb(237, 255, 0);
  background: linear-gradient(
    0deg,
    rgba(237, 255, 0, 1) 10%,
    rgba(0, 0, 0, 1) 83%
  );
  padding-top: 8rem;
  .container {
    width: 80%;
    margin: 0 auto;
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .titulo1 {
        color: $titulos;
        font-size: 3rem;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .texto {
          color: $textocolor !important;
          padding: 2rem;
          display: inline-block;
          margin-top: 1.2rem;
          padding-bottom: 2rem;
          text-align: center;
          .img_principal {
            text-align: center;
            height: auto;
            width: auto;
            max-height: 100px;
            max-width: 100px;
            .imagencard {
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

img {
  max-width: 100%;
  margin: 1rem;
}

.titulo2 {
  color: $titulos;
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .container {
    width: 80%;
    margin: 0 auto;
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.texto_indu {
  color: $textocolor;
  padding: 2rem;
  font-size: 200%;
  display: flex;
  text-align: center;
}
